@import "tailwindcss";

@theme {
  /* --- Colores --- */
  --color-background: #FFFFFF;
  --color-surface: #F5F5F5;
  --color-button-secondary: rgb(230, 232, 233);
  --color-badge: #FAFAFA;
  --color-text-primary: #111111;
  --color-text-secondary: #666666;
  --color-text-muted: #A3A3A3;

  /* --- Familias Tipográficas --- */
  /* Reemplaza la fuente serif para los títulos y sans para el cuerpo */
  --font-heading: "Playfair Display", "Instrument Serif", serif;
  --font-body: "Inter", "San Francisco", sans-serif;

  /* --- Tamaños de Fuente Fluidos --- */
  /* Utilizan clamp() para adaptarse automáticamente a cualquier pantalla */
  --text-hero: clamp(3rem, 8vw, 3.5rem);
  --text-subtitle: clamp(1.125rem, 1.5vw, 1.25rem);
  --text-section-label: clamp(0.7rem, 1vw, 0.8rem);
  --text-project: clamp(1.25rem, 2.5vw, 2.5rem);
  --text-body: clamp(0.9rem, 1.1vw, 1rem);
  --text-small: 0.85rem;
  --text-extra-small: 0.70rem;
  --text-skill: clamp(0.8rem, 0.9vw, 0.9rem);

  /* --- Espaciados Especiales --- */
  /* Permiten usar clases como p-page, gap-section, mt-section */
  --spacing-section: clamp(5rem, 12vw, 10rem);
  --spacing-element: 1.5rem;
  --spacing-page: clamp(1.5rem, 5vw, 3rem);

  /* --- Espaciado de letras (Tracking) --- */
  --tracking-tighter: -0.02em;
  --tracking-widest: 0.15em;

}